# Init Optimus Drunk Spectrum Profiles

on property:dev.bootcomplete=1

   # Spectrum / Performance Tweaks
   # Set default profile on first boot
   setprop persist.spectrum.profile 0
   # Enable Spectrum support
   setprop spectrum.support 1
   # Add kernel name
   setprop persist.spectrum.kernel Optimus_Drunk

   # 0. Balanced (default)
   on property:persist.spectrum.profile=0
   exec u:r:magisk:s0 root root -- /sbin/profile.balance.sh

   # 1. Performance
   on property:persist.spectrum.profile=1
   exec u:r:magisk:s0 root root -- /sbin/profile.performance.sh

   # 2. Battery
   on property:persist.spectrum.profile=2
   exec u:r:magisk:s0 root root -- /sbin/profile.battery.sh
   
   # 3. Gaming
   on property:persist.spectrum.profile=3
   exec u:r:magisk:s0 root root -- /sbin/profile.gaming.sh
